@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
* {
  font-family: "Barlow", sans-serif;
}
.font-heading {
  font-family: "Bellefair", "Barlow", sans-serif;
}
.font-condensed {
  font-family: "Barlow Condensed", sans-serif;
}
.bg-home {
  @apply lg:bg-[url(./assets/home/background-home-desktop.jpg)] md:bg-[url(./assets/home/background-home-tablet.jpg)] bg-[url(./assets/home/background-home-mobile.jpg)];
}
.nav-link {
  @apply flex h-full items-center gap-2 font-[100] border-b-[3px] border-transparent hover:border-slate-400;
}
.nav-link span {
  @apply font-[700];
}
.active-link {
  @apply border-white;
}
.line {
  margin-right: -50px;
  margin-left: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  flex: 1;
  z-index: 1;
}
